@charset 'utf-8';

body
{
    margin: 0 0 !important;
    padding: 0 0 !important;
}

#app
{
    font-family: 'Microsoft YaHei';

    position: relative;

    min-height: 100vh;

    color: #2c3e50;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.row
{
    margin-right: 0;
    margin-left: 0;
}


img
{
    width: 100%;

    object-position: center;
    object-fit: cover;
}

.ft-blod
{
    font-weight: bold;
}

.ft-20
{
    font-size: 20px;
}

.ft-white
{
    color: #fff !important;
}

.ft-primary
{
    color: #d9982e !important;
}

a:hover
{
    cursor: pointer;
}

.padding
{
    padding: 10px 10px;
}

.pl-10per
{
    padding-left: 10%;
}

.mt-10 {
    margin-top: 10px;
}

.ml-10
{
    margin-left: 10px;
}

.pt-15
{
    padding-top: 15px;
}

.section-scroll-wrapper
{
    position: relative;

    overflow: hidden;
}

.section-scroll-wrapper > .section-scroll
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: scroll;
    overflow-x: hidden;
}

.pb-80
{
    padding-bottom: 80px;
}

.mb-10
{
    margin-bottom: 10px;
}

.mb-15
{
    margin-bottom: 15px;
}

.mb-20
{
    margin-bottom: 20px;
}

.content
{
    padding-top: 50px;
}

@media (max-width: 768px)
{
    .navbar-right .right-txt.dp
    {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .content .section
    {
        min-height: 500px !important;
    }

    .content .section.team-intro
    {
        height: 950px;
    }

    .content .section.team-intro .intro-img {
        height: 180px !important;
    }

    .content .section.team-intro strong,
    .content .section.culture-intro strong
    {
        top: 3%;
    }

    .content .section.team-intro .part,
    .content .section.culture-intro .part
    {
        top: 10%;
    }

    .content .section.team-intro .col-sm-4,
    .content .section.industry-intro .col-sm-4
    {
        padding-left: 0px;
    }

    .content .section.industry-intro
    {
        height: 850px;
    }

    .content .section.culture-intro
    {
        height: 1300px;
    }

    .develop-icon:after
    {
        height: 0 !important;
    }

    .content .detail-back {
        margin-bottom: 30px !important;
    }

    img.img-3d {
        height: 350px;
    }
}

@media (min-width: 769px)
{
    img.img-3d {
        height: 500px;
    }

    .navbar-right .right-txt.dp
    {
        padding-top: 15px;
        padding-left: 0;
    }

    .content .section.team-intro .intro-img {
        height: 250px !important;
    }
}


.fade-enter,
.fade-leave-to
{
    opacity: 0;
}

.banner .navbar-toggle:hover,
.banner .navbar-toggle,
.banner .navbar-toggle:focus
{
    background-color: transparent !important;
}

.banner .navbar-toggle .icon-bar
{
    background-color: #fff !important;
}

.breadcrumb
{
    margin-top: 15px;

    background: transparent;
}

.breadcrumb .active
{
    color: #d9982e;
}

/**paginate style*/
.yea-paginate .page-item a
{
    color: #d9982e !important;
}

.yea-paginate .page-item.active a,
.yea-paginate .page-item.active a:focus
{
    color: #fff !important;
    border: 1px solid #d9982e;
    background: #d9982e;
}

.title-bottom-line
{
    display: inline-block;

    width: 30px;
    height: 2px;

    background: #d9982e;
}

.ql-align-center
{
    text-align: center;
}
